#logos{

    .container{

        .row{
            display: flex;
            align-items: center;
         

            .col-lg-3{

                #logo01{
                    width: 174px;
                }
                #logo02{
                    width: 252px;
                }
                #logo03{
                    width: 263px;
                }
                #logo04{
                    width: 282px;
                    }

        }
    }
}
}